            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <a href="{%url 'recipes:recipe' recipe.slug%}">
                        <img src="{{recipe.capa.url}}" alt="{{recipe.titulo}}">
                    </a>
                </div>
                <div class="recipe-title-container">
                    <a href="{%url 'recipes:recipe' recipe.slug%}">
                    <h2 class="recipe-title">{{recipe.titulo}}</h2>
                    </a>
                </div>

                <div class="recipe-author">
                    <span class="recipe-author-item">
                        <i class="fas fa-user"></i>
                        {{recipe.author.nome}} {{recipe.author.sobrenome}}
                    </span>
                    <span class="recipe-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        {{recipe.criado_em|date:'d/m/Y'}} às {{recipe.criado_em|date:'H:i'}}
                    </span>
                    <span class="recipe-author-item">
                        <a href="/recipes/category/{{recipe.categoria.nome}}/">
                            <i class="fas fa-layer-group"></i>
                            <span>{{recipe.categoria.nome}}</span>
                        </a>
                    </span>
                </div>

                <div class="recipe-content">
                    <p>{{recipe.descricao}}</p>
                </div>

                <div class="recipe-meta-container">
                    <div class="recipe-meta recipe-preparation">
                        <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
                        <div class="recipe-meta-text">
                            {{recipe.tempo_preparo}} {{recipe.preparation_time_unit}}
                        </div>
                    </div>
                    <div class="recipe-meta recipe-servings">
                        <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
                        <div class="recipe-meta-text">
                            {{recipe.rendimento}} {{recipe.rendimento_unit}}
                        </div>
                    </div>
                </div>
                {% if is_detail_page is not True %}
                <footer class="recipe-footer">
                    <a class="recipe-read-more button button-dark button-full-width" href="{%url 'recipes:recipe' recipe.slug%}">
                        <i class="fas fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
                {% endif %}

                {% if is_detail_page is True %}
                <div class="passos-preparo-container">
                    <p>{{recipe.passos_preparo | linebreaksbr}}</p>
                </div>
                {% endif %}










            </div>